/** Header */

#qunit-header {font-size:16px;
    padding-top:10px;
    margin-top:30px;
    border-top:1px dashed #666;}

#qunit-header a:link, #qunit-header a:visited,
#qunit-tests li a:link, #qunit-tests li a:visited {text-decoration: none;
    color:#000;}

#qunit-userAgent {font-size:16px;
    padding:0px;}

#qunit-test-output {padding:10px;}

/** Tests: Pass/Fail */

#qunit-tests li strong {cursor:pointer;
    padding:10px;}

/*** Test Counts */

#qunit-tests b.counts                       { color: black; }
#qunit-tests b.passed                       { color: #5E740B; }
#qunit-tests b.failed                       { color: #710909; }

#qunit-tests li li {padding: 5px;}

/*** Passing Styles */

#qunit-tests .pass                          { color: #528CE0; background-color: #D2E0E6;}
#qunit-tests .pass .test-name               { color: #366097; }

#qunit-tests .pass .test-actual,
#qunit-tests .pass .test-expected           { color: #999999; }

#qunit-banner.qunit-pass                    { background-color: #C6E746; }

/*** Failing Styles */

#qunit-tests li li.fail {color: #710909;
	background-color: #fff;}

#qunit-tests .fail                          { color: #000000; background-color: #EE5757; }
#qunit-tests .fail .test-name,
#qunit-tests .fail .module-name             { color: #000000; }

#qunit-tests .fail .test-actual             { color: #EE5757; }
#qunit-tests .fail .test-expected           { color: green;   }

#qunit-banner.qunit-fail                    { background-color: #EE5757; }