
#test {padding-top:10px;
    margin-top:50px;
    border-top:1px dashed #ccc;}

#test div {padding:5px;}

.test-name {color:#366097;}

.test-title, .result1, .result2, .values {background:#eee;}

.test-title, .test-name {font-weight:bold;
    float:left;}

.result1, .values {margin-bottom:10px;}

.result1, .equal {color:#3B6F07;}

.result2, .notequal {color:#EE5757;}

.values {color:#366097;
    margin-left:20px;}

.values span, .test-title span, .test-name span {color:#528CE0;
    font-weight:bold;}

.values p {margin-top:0px;}

#title {margin-bottom:10px;}

#title span {font-weight:bold;}