@import 'sencha-touch/default/all';

//$include-default-uis: true;
//$include-default-icons: true;

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;


//@include pictos-iconmask('twitter2');


////////////////////////
//
// All of the icons in toolbars will be 64 base encoded:
//
/////////////////////////
//@mixin custom-iconmask($name) {
//  .x-tab .x-button-icon.#{$name}, .x-button .x-button-icon.x-icon-mask.#{$name} {
//    -webkit-mask-image: inline-image('icons/' + $name + '.png');
//  }
//}

//@include custom-iconmask('custom_icon');
//@include custom-iconmask('home-active');





