@charset "utf-8";
/* CSS Document */


@import url( 'reset.css' );

/*  Choose one: 1col.css, 2col-l.css, or 2col-r.css  */
@import url( 'layouts/2col-r.css' );


/* GLOBAL */
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}
header{
	padding-bottom:20px;
	height:100px;
	width:100%;
	margin:20px 0;
	border:1px black solid;
}
header h1{
	margin:65px 0 10px 20px;
}
.main{
	margin-bottom:20px;
}
footer{
	display:block;
}
h1{ font-size:18px; }
h2{ font-size:16px; }
h3{ font-size:14px; }
h4{ font-size:12px; }


.main, aside, footer { 
	border:1px black solid; 
	padding:20px 5px 5px 20px;
}


/* links */
nav{
	margin:0 0 0 20px;
	padding:0px;
}
nav h3{
	display:inline;
	padding-right:15px;
}
a:link, a:visited{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#000;
}
a img{
	border:none;
}


/* contact page */
#contactForm input[type=text]{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:76%;
}
.textArea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:76%;
	padding:4px 2px;
}
.thankYou{
	background-image:url(../images/contact_bg.png);
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	padding:20px;
}