
/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, footer, address { display: block; }

/* Eric Meyer Reset Reloaded */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
	margin: 0px; 
	padding: 0px; 
	border: 0px; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit; 
	vertical-align: baseline; 
}

/* Removes dotted line when focus */
:focus { outline: none; }

/* Clearing floats without extra markup [http://www.positioniseverything.net/easyclearing.html] */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: block; }
.clear { clear: both; }
