/**  Basic 2 column (content)(aside) fixed layout  */

.container { width: 960px; margin: 20px auto; }
.main { width: 600px; float: left; }
aside { width: 300px; float: right; }
footer { clear: both; }