/*//////////////////////////////
// 
//
//     NAV - BOTTOM
//
//
/////////////////////////////////*/
.etl_nav_bkgrd{
    
   height: 117px      !important;
   width:  2048px     !important;
   background-image:  url('../images/nav/bkgnd.png') !important;
   border: none !important; 
   background-color: transparent !important;
}


.etl_nav_bkgrd .x-button.x-button-plain 
 {
     height:  4em !important;
     padding: 0em .4em 0em 0em !important; 
  }
    
  .tabPanelBGFill{
      opacity:.6;
  }
      .overlay_1-2-2HeaderMale{
       background-image: url('../../app/view/1-2-2/images/overlay_title-male@2x.png'); 
       background-size: cover;
    }
    
    .overlay_1-2-2HeaderFemale{
       background-image: url('../../app/view/1-2-2/images/overlay_title-female@2x.png'); 
       background-size: cover;
    }
    
    .overlay_1-2-2Text{
       background-image: url('../../app/view/1-2-2/images/overlay_text@2x.png '); 
       background-size: cover;
    }
    
    .overlay_1-2-2ButtonToggleMale{
       background-image: url('../../app/view/1-2-2/images/overlay_toggle-male.png'); 
       background-size: cover;
    }
    
     .overlay_1-2-2ButtonToggleFemale{
       background-image: url('../../app/view/1-2-2/images/overlay_toggle-female.png'); 
       background-size: cover;
    }
    
    .overlay_1-2-2ButtonFemaleActive{
       background-image: url('../../app/view/1-2-2/images/female_wk4-active.png'); 
       background-size: cover;
    }
    
    .overlay_1-2-2ButtonFemale12WKActive{
       background-image: url('../../app/view/1-2-2/images/female_wk12-active.png'); 
       background-size: cover;
    }
    
    .overlay_1-2-2ButtonFemale12WKInactive{
       background-image: url('../../app/view/1-2-2/images/female_wk12-inactive.png'); 
       background-size: cover;
    }
    
    
    
    .overlay_1-2-2ButtonFemaleInctive{
       background-image: url('../../app/view/1-2-2/images/female_wk4-inactive.png'); 
       background-size: cover;
    }
    
    
    
    .overlay_1-2-2ButtonMaleInactive{
       background-image: url('../../app/view/1-2-2/images/male_wk4-inactive.png'); 
       background-size: cover;
    }
        
    .overlay_1-2-2ButtonMaleActive{
       background-image: url('../../app/view/1-2-2/images/male_wk4-active.png'); 
       background-size: cover;
    }     
    
    .overlay_1-2-2ButtonMale12WKInactive{
       background-image: url('../../app/view/1-2-2/images/male_wk12-inactive.png'); 
       background-size: cover;
    }
        
    .overlay_1-2-2ButtonMale12WKActive{
       background-image: url('../../app/view/1-2-2/images/male_wk12-active.png'); 
       background-size: cover;
    }
    
    
    
    
        
    .overlay_1-3-2HeaderFemale{
       background-image: url('../../app/view/1-3-2/images/overlay_title-female@2x.png');
       background-size: cover;
  }
  
  .overlay_1-3-2HeaderMale{
       background-image: url('../../app/view/1-3-2/images/overlay_title-male@2x.png');
       background-size: cover;
  }
  
  
    
  .overlay_1-3-2ButtonFemaleActive{
       background-image: url('../../app/view/1-3-2/images/femaleButtonActive@2x.png');
       background-size: cover;

}
  
  .overlay_1-3-2ButtonMaleActive{
       background-image: url('../../app/view/1-3-2/images/maleButtonActive@2x.png');
       background-size: cover;
  }
  
  .overlay_1-3-2ButtonFemaleInactive{
       background-image: url('../../app/view/1-3-2/images/femaleButtonInactive@2x.png');
       background-size: cover;

}
  
  .overlay_1-3-2ButtonMaleInactive{
       background-image: url('../../app/view/1-3-2/images/maleButtonInactive@2x.png');
       background-size: cover;
  }
  
  .overlay_1-3-2Text{
       background-image: url('../../app/view/1-3-2/images/overlay_text@2x.png');
       background-size: cover;
  }
  
  
  
  .overlay_1-1-1HeaderFemale{
       background-image: url('../../app/view/1-1-1/images/overlay_title-female@2x.png');
       background-size: cover;
  }
  
  .overlay_1-1-1HeaderMale{
       background-image: url('../../app/view/1-1-1/images/overlay_title-male@2x.png');
       background-size: cover;
  }
  
  
    
  .overlay_1-1-1ButtonFemaleActive{
       background-image: url('../../app/view/1-1-1/images/femaleButtonActive@2x.png');
       background-size: cover;

}
  
  .overlay_1-1-1ButtonMaleActive{
       background-image: url('../../app/view/1-1-1/images/maleButtonActive@2x.png');
       background-size: cover;
  }
  
    .overlay_1-1-1ButtonFemaleInactive{
       background-image: url('../../app/view/1-1-1/images/femaleButtonInactive@2x.png');
       background-size: cover;

}
  
  .overlay_1-1-1ButtonMaleInactive{
       background-image: url('../../app/view/1-1-1/images/maleButtonInactive@2x.png');
       background-size: cover;
  }
  
  
  
  
    .overlay_1-1-1Text{
       background-image: url('../../app/view/1-1-1/images/overlay_text@2x.png');
       background-size: cover;
  }
  
  
  
  .page1_0BG{      
      background-image: url('../../app/view/1-0/images/slide@2x.png');
      background-size:cover;
  }
  .page1_0BG_hi_res{
      background-image: url('../../app/view/1-0/images/slide@2x.png');
      background-size:cover;
  }
  
  .btn_skip{
	background-image: url('../../resources/images/hotspot/btn_skip@2x.png');
	background-size:cover;
  }
  
  .btn_continue{
	background-image: url('../../resources/images/hotspot/btn_continue@2x.png');
	background-size:cover;
  }
  
  
  
  .page1_1BG{      
      background-image: url('../../app/view/1-1/images/slide@2x.png');
      background-size:cover;
  }
  .page1_1BG_hi_res{
      background-image: url('../../app/view/1-1/images/slide@2x.jpg');
      background-size:cover;
  }
  
  
  .page1_1_1BG{      
      background-image: url('../../app/view/1-1-1/images/slide@2x.png');
      background-size:cover;
  }
  .page1_1_1BG_hi_res{
      background-image: url('../../app/view/1-1-1/images/slide@2x.jpg');
      background-size:cover;
  }
  
  
  
  .page1_2BG{      
      background-image: url('../../app/view/1-2/images/slide@2x.png');
      background-size:cover;
	  }
	  .page1_2-a-BG{      
		  background-image: url('../../app/view/1-2/images/overlay@2x.png');
		  background-size:cover;
		  }
	  
    .page1_2_1BG{      
      background-image: url('../../app/view/1-2-1/images/slide@2x.png');
      background-size:cover;
	  }
          
        .page1_2_1-tab1-BG{      
                      background-image: url('../../app/view/1-2-1/images/tab-1.png');
                      background-size:cover;
                      } 

           .page1_2_1-tab2-BG{      
                      background-image: url('../../app/view/1-2-1/images/tab-2.png');
                      background-size:cover;
                      } 

          .page1_2_1-tab3-BG{      
                      background-image: url('../../app/view/1-2-1/images/tab-3.png');
                      background-size:cover;
                      }       
          
          
    .page1_2_2BG{      
      background-image: url('../../app/view/1-2-2/images/slide@2x.png');
      background-size:cover;
	  }
	  .page1_2-a-BG{      
		  background-image: url('../../app/view/1-2/images/overlay-a_1@2x.png');
		  background-size:cover;
		  }
	  .page1_2-b-BG{      
		  background-image: url('../../app/view/1-2/images/overlay-a_2@2x.png');
		  background-size:cover;
		  }
	  .page1_2-c-BG{      
		  background-image: url('../../app/view/1-2/images/overlay-a_3@2x.png');
		  background-size:cover;
		  }
	  .page1_2-d-BG{      
		  background-image: url('../../app/view/1-2/images/overlay-a_4@2x.png');
		  background-size:cover;
		  }
	  .page1_2-e-BG{      
		  background-image: url('../../app/view/1-2/images/overlay-a_5@2x.png');
		  background-size:cover;
		  }
	  .page1_2-f-BG{      
		  background-image: url('../../app/view/1-2/images/overlay-a_6@2x.png');
		  background-size:cover;
		  }
          .page1_2_2-tab1-BG{      
                      background-image: url('../../app/view/1-2-2/images/tab-1.png');
                      background-size:cover;
                      } 
          .page1_2_2-tab2-BG{      
                      background-image: url('../../app/view/1-2-2/images/tab-2.png');
                      background-size:cover;
                      }
          .page1_2_2-tab3-BG{      
                      background-image: url('../../app/view/1-2-2/images/tab-3.png');
                      background-size:cover;
                      } 
                  
                  
    .page1_3BG{      
      background-image: url('../../app/view/1-3/images/slide@2x.png');
      background-size:cover;
	  }
	  .page1_3-a-BG{      
		  background-image: url('../../app/view/1-3/images/overlay@2x.png');
		  background-size:cover;
		  }
		  
    .page1_3-1-a-BG{      
      background-image: url('../../app/view/1-3-1/images/overlay.gif');
      background-size:cover;
  }
    .page1_3_1BG{      
        background-image: url('../../app/view/1-3-1/images/slide@2x.png');
        background-size:cover;
    }
    .page1_3_2BG{      
      background-image: url('../../app/view/1-3-2/images/slide@2x.png');
      background-size:cover;
  }
    .page1_4BG{      
      background-image: url('../../app/view/1-4/images/slide@2x.png');
      background-size:cover;
  }
    .page1_4_1BG{      
      background-image: url('../../app/view/1-4-1/images/slide@2x.png');
      background-size:cover;
  }
    .page1_5BG{      
      background-image: url('../../app/view/1-5/images/slide@2x.png');
      background-size:cover;
  }
    .page1_6BG{      
      background-image: url('../../app/view/1-6/images/slide@2x.png');
      background-size:cover;
  }
    .page1_6_1BG{      
      background-image: url('../../app/view/1-6-1/images/slide@2x.png');
      background-size:cover;
  }
    .page1_6_2BG{      
      background-image: url('../../app/view/1-6-2/images/slide@2x.png');
      background-size:cover;
	  }
	  .page1_6_2-a-BG{      
		  background-image: url('../../app/view/1-6-2/images/overlay@2x.png');
		  background-size:cover;
		  }
		  
    .page1_6_3BG{      
      background-image: url('../../app/view/1-6-3/images/slide@2x.png');
      background-size:cover;
	  }
	  .page1_6_3-a-BG{      
		  /*background-image: url('../../app/view/1-6-2/images/overlay-a@2x.png');*/
		  background-size:cover;
		  }
	  .page1_6_3-b-BG{      
		  background-image: url('../../app/view/1-6-2/images/overlay-b@2x.png');
		  background-size:cover;
		  }
    .page1_7BG{      
      background-image: url('../../app/view/1-7/images/slide@2x.png');
      background-size:cover;
	  }
    .page1_8BG{      
      background-image: url('../../app/view/1-8/images/slide@2x.png');
      background-size:cover;
	  }
    .page1_8_1BG{      
      background-image: url('../../app/view/1-8-1/images/slide@2x.png');
      background-size:cover;
	  }
    .page1_8_2BG{      
      background-image: url('../../app/view/1-8-2/images/slide@2x.png');
      background-size:cover;
	  }
	  .page1_8_2-a-BG{      
		  background-image: url('../../app/view/1-8-2/images/overlay-a@2x.png');
		  background-size:cover;
		  }
	  .page1_8_2-b-BG{      
		  background-image: url('../../app/view/1-8-2/images/overlay-b@2x.png');
		  background-size:cover;
		  }
	  .page1_8_2-c-BG{      
		  background-image: url('../../app/view/1-8-2/images/overlay-c@2x.png');
		  background-size:cover;
		  }
	  .page1_8_2-d-BG{      
		  background-image: url('../../app/view/1-8-2/images/overlay-d@2x.png');
		  background-size:cover;
		  }
	  .page1_8_2-e-BG{      
		  background-image: url('../../app/view/1-8-2/images/overlay-e@2x.png');
		  background-size:cover;
		  }
                  
      

      .pleasee{
               background-image: url('../../resources/images/please-see_black.png');
	       background-size:cover;
       }
       .pleasee_white{
               background-image: url('../../resources/images/please-see_white.png');
	       background-size:cover;
       }  
 
.navbar_bg {background-image: url('../images/nav/bkgnd.png');
    background-size: 143px 768px;}
  
.etl_nav_btn{width: 82px      !important; 
    height: 52px     !important;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 82px 52px;
    margin-top: 10px;}
        
/* blank pressed class */        
.pressedBlank{background-image: url('../images/nav/pressedBlank.png');}

/*effective */
.etl_nav_btn_1_2 {background-image: url('../images/nav/effective.png');}

.etl_nav_btn_1_2_active {background-image: url('../images/nav/effective_active.png');}

.etl_nav_btn_1_2_loading {background-image: url('../images/nav/effective_loading.png');}        

/*safe */
.etl_nav_btn_1_3 {background-image: url('../images/nav/safe.png');}

.etl_nav_btn_1_3_active {background-image: url('../images/nav/safe_active.png');}

.etl_nav_btn_1_3_loading {background-image: url('../images/nav/safe_active.png');}

/*unique benefits */
.etl_nav_btn_1_6 {background-image: url('../images/nav/unique.png');}

.etl_nav_btn_1_6_active {background-image: url('../images/nav/unique_active.png');}

.etl_nav_btn_1_6_loading {background-image: url('../images/nav/unique_active.png');}  

/*sitemap */
.etl_nav_btn_sitemap {background-image: url('../images/nav/sitemap.png');}
         
.etl_nav_btn_sitemap_active {background-image: url('../images/nav/sitemap_active.png');}

.etl_nav_btn_sitemap_loading {background-image: url('../images/nav/sitemap_active.png');} 

/*intro */
.etl_nav_btn_1_1 {
   background-image: url('../images/nav/intro.png');
   width: 84px      !important;
 /*  margin-left: 80px !important;*/
   background-position: 0px 0px !important;
}

.etl_nav_btn_1_1_active {
   background-image: url('../images/nav/intro_active.png');
   width: 84px      !important;
/*    margin-left: 80px !important; */
   background-position: 0px 0px !important;
}

.etl_nav_btn_1_1_loading {
    width: 84px      !important;
    /* margin-left: 80px !important;*/
    background-position: 0px -52px !important;
}        

/*simple */
.etl_nav_btn_1_4 {
   background-image: url('../images/nav/simple.png');
   width: 89px      !important;
	 }
.etl_nav_btn_1_4_active {
   background-image: url('../images/nav/simple_active.png');   
   width: 89px      !important;   
   background-position: 0px 0px !important;
}

.etl_nav_btn_1_4_loading {
   background-image: url('../images/nav/simple_active.png');       
   width: 89px      !important;    
    background-position: 0px -52px !important;
	}        	
	
/*summary */
.etl_nav_btn_1_5 {
   background-image: url('../images/nav/summary.png');
   width: 89px      !important;
	 }
.etl_nav_btn_1_5_active {
   background-image: url('../images/nav/summary_active.png');
   width: 89px      !important;
   background-position: 0px 0px !important; 
}

.etl_nav_btn_1_5_loading {
   background-image: url('../images/nav/summary_active.png');    
   width: 89px      !important;    
    background-position: 0px -52px !important;
	}        	

/*guidlines */
.etl_nav_btn_1_7 {
   background-image: url('../images/nav/guidelines.png');
   width: 89px      !important;
	 }
.etl_nav_btn_1_7_active {
   background-image: url('../images/nav/guidelines_active.png');
   width: 89px      !important;
   background-position: 0px 0px !important;
}
.etl_nav_btn_1_7_loading {
   background-image: url('../images/nav/guidelines_active.png');
   width: 89px      !important;    
    background-position: 0px -52px !important;
	}
	
/*start talking */
.etl_nav_btn_1_8 {
   background-image: url('../images/nav/start_talking.png');
   width: 90px      !important;
	 }
.etl_nav_btn_1_8_active {
   background-image: url('../images/nav/start_talking_active.png');
   width: 90px      !important;
   background-position: 0px 0px !important;
	}
.etl_nav_btn_1_8_loading {
   background-image: url('../images/nav/start_talking_active.png');
   width: 90px      !important;    
    background-position: 0px -52px !important;
	}       	

.sitemap{      
   background-size:cover;
}
	


/*//////////////////////////////
//
//
//      Overlay
//
//
/////////////////////////////////*/

.x-panel.x-floating > .x-panel-inner, .x-panel.x-floating .x-scroll-view, .x-panel.x-floating .x-body,
.x-msgbox.x-floating > .x-panel-inner,
.x-msgbox.x-floating .x-scroll-view,
.x-msgbox.x-floating .x-body,
.x-form.x-floating > .x-panel-inner,
.x-form.x-floating .x-scroll-view,
.x-form.x-floating .x-body .etl_overlay {
  
 -webkit-border-radius: 0em !important;
  border-radius: 2.3em 2.3em 0em 0em!important; /*top-left, top-right, bottom-right, bottom-left */
  border: none;
  background-color:transparent !important;

  background-image: url(../images/overlay/overlay_bckgrd.png);
  background-repeat:no-repeat;
  background-size:cover;
  
}



.x-panel.x-floating, .x-msgbox.x-floating, .x-form.x-floating .etl_overlay{
    padding: 0px !important;
    -webkit-border-radius: 0.0em! important;
    border-radius: 2.3em 2.3em 0em 0em!important;
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em  !important; */
    background-image: none  !important;
    background-color: transparent  !important;
   
   
}

#tab_isi{
  background-image: url('../images/tabs/tab-isi.png');
  background-size:cover;
	}

#tab_pi{
  background-image: url('../images/tabs/tab-pi.png');
  background-size:cover;
	}

#tab_ref{
  background-image: url('../images/tabs/tab-ref.png');
  background-size:cover;
	}
    
#tab_nav{
  background-image: url('../images/tabs/tab-nav.png');
  background-size:cover;
	}
	
#tabCloseButton{
	background-size:cover;
}





/* temporarily removed because hotspot size had to be increased and this was not a compatible method 

  #hotspot_1-8-2a:active{
       background-image: url('../../app/view/1-8-2/images/purple-arrow_left.png') !important; 
       background-size: cover;
	  }


  #hotspot_1-8-2b:active{
       background-image: url('../../app/view/1-8-2/images/purple-arrow_right.png') !important; 
       background-size: cover;
	  }
*/

.etl_overlay{
    
   /* z-index: 50 !important; */
    
}

/*//////////////////////
//
//
//  Pi
//
//
/////////////////////////*/

.etl_pi{
    
    background-color: transparent  !important; 
    
}

    
.x-panel.x-floating,
.x-msgbox.x-floating,
.x-form.x-floating {
  -webkit-box-shadow:none !important;
}

/* */
#hotspot_ref_closeX, #hotspot_pi_closeX, #hotspot_isi_closeX{
  background-image: url(../images/tabs/panelCloseBox.png);
  background-size:cover;
	}
	

    
/* makes PI, ISI, and refs content hi-res */	            
#PI_content_container .x-img, #id_isi_content{
	background-size:cover;
	}
 #id_ref_content{
	background-size:65%;
 	}
.x-scroll-container{ height:93.75% !important; }