/* 
    Document   : slider.css
    Created on : Oct 9, 2012, 10:55:07 AM
    Author     : michael.coppola
    Description:
    Purpose    : customize the slider
*/ 
  


/*
THUMB:
.etl_slider_1: is OUR class ('cls' in the config) name for a specific slider

*/
.etl_cls_slider_1 .x-thumb:before{
    
   background-image: -webkit-linear-gradient(top, #cccccc, #cccccc 3%, #cccccc)!important;
   border:none!important;
        
}
/*SCRUB BAR*/
.etl_cls_slider_1 .x-slider:after{
    
   background-image: -webkit-linear-gradient(top, #000000, #000000 10%, #000000 65%, #000000);
   border:none!important;
   -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0!important;
   -webkit-border-radius: 0.0em;
  
}
/*BACKGROUND */
.etl_cls_base_slider_base_1{
    min-height: 0em;
    background:#999999
}

